// This is a CTA Corporate template overwrite, this is done because I don't want to disturb the original stylling.
.cookie-control {
  position: fixed;
  bottom: 0px;
  margin: 0px;
  width: 100%;
  z-index: 9999;
  background: #222222;
  color: white;
}